.large-2.medium-3.small-6.columns.center_text.left
	= link_to(gravatar(user), user)
	%br/
	= link_to(full_name(user), user)
	- if current_user.admin? && !current_user?(user)
		%br/
		= link_to 'delete', user, method: :delete, data: { confirm: 'Are you sure?' }
