- provide(:title, full_name(@user))
.row
  %aside.large-2.columns
    = render('shared/user_info')
  .large-10.columns
    = render('follow_form') if logged_in?
    - if @user.posts.any?
      %h3 Posts #{@user.posts.count}
      .posts
        = render(@posts)