- if logged_in?
  .row
    %aside.large-2.columns#side_bar
      = render('shared/user_info')
    .large-10.columns
      %h1 Test
- else
  .large-12.columns
    %h1 
      %strong welcome to TookiTi!
    %h3 the contest-based social network