- provide(:title, 'New Post')
= render('posts_error_messages')
.row
  .large-6.large-offset-3.columns
    %h1.form_title TookiTi!
    %h4.form_subtitle create a new post
    = form_for(@post) do |f|
      = render('fields', f: f)
      .large-12.columns
        = f.submit 'create post', class: 'button expand radius'