// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

%round-border-top {
	border-top-right-radius: 4px; 
	border-top-left-radius: 4px;
}

.post_thumbnail {
	margin-bottom: 24px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	.post_image {
		background-color: #000;
		@extend %round-border-top;
		img {
			@extend %round-border-top;
			display: block;
			margin: 0 auto;
		}
	}
	.post_info {
		height: 7.5em;
		.post_title {
			text-align: center;
			font-weight: bold;
			padding-top: 0.5em;
		}
		.post_user {
			padding-left: 1em;
			padding-top: 0.5em;
			span {
				padding-left: 0.5em;
			}
			.post_delete {
				padding-right: 1em;
			}
		}
		.timestamp {
			text-align: center;
			color: #999;
			font-size: 0.8em;
			padding-top: 0.5em;
		}
	}
}

