// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gravatar {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	margin-bottom: 24px;
	margin: 0 auto;
	display: block;
}

/* sidebar */

.user_area {
	padding-top: 24px;
	text-align: center;
	background-color: #f1f1f1;
	.user_area_title {
		padding-top: 16px;
    font-weight: bold;
	}
}


/* signup */

.signup_title {
	text-align: center;
	font-weight: bold;
	padding-top: 24px;
}

.signup_subtitle {
	text-align: center;
} 

/* edit */

.gravatar_edit {
	padding-bottom: 24px;
	text-align: center;
}
